@tailwind base;

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url('../res/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    src: local('Open Sans'), url('../res/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: local('Open Sans'), url('../res/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 200;
    src: local('Open Sans'), url('../res/fonts/OpenSans-Lighter.ttf') format('truetype');
}

html,
body,
#root,
#root > div {
    @apply h-screen;
    @apply min-h-screen;
    @apply text-gray-700;
    /* font-family: 'Open Sans', 'Times New Roman', Times, serif; */
    font-family: 'Open Sans', 'Times New Roman', serif;
}

@tailwind components;
@tailwind utilities;

/* Additional heights */
.h-9 {
    height: 2.25rem;
}

.h-11 {
    height: 2.75rem;
}

.h-13 {
    height: 3.25rem;
}

.h-14 {
    height: 3.5rem;
}

.h-15 {
    height: 3.75rem;
}

/* Absolute alignment */
.top-1\/2 {
    top: 50%;
}

.bottom-1\/2 {
    bottom: 50%;
}

.left-1\/2 {
    left: 50%;
}

.right-1\/2 {
    right: 50%;
}

.left-2\/5 {
    left: 40%;
}

.right-2\/5 {
    right: 40%;
}

/* Z-order utils */
.neg-z-1 {
    z-index: -1;
}

/* SVG */
.fill-transparent {
    fill: transparent;
}
