@tailwind base;

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../res/fonts/OpenSans-Regular.ttf') format('ttf');
}

html,
body,
#root,
#root > div {
    @apply h-full;
    @apply min-h-full;
    @apply text-gray-700;
    font-family: 'Open Sans', sans-serif;
}

@tailwind components;
@tailwind utilities;

.h-9 {
    height: 2.25rem;
}

.h-11 {
    height: 2.75rem;
}

.h-13 {
    height: 3.25rem;
}

.h-14 {
    height: 3.5rem;
}

.h-15 {
    height: 3.75rem;
}

.top-1\/2 {
    top: 50%;
}

.bottom-1\/2 {
    bottom: 50%;
}

.left-1\/2 {
    left: 50%;
}

.right-1\/2 {
    right: 50%;
}

.neg-z-1 {
    z-index: -1;
}
